/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	font-family:'Lucida Console', 'Lucida Sans Typewriter','sans-serif';
	background: #A860BB;
	color: rgba(45,0,84,0.85);
}


div#container {
	border: 1px solid black;
	width: 850px;
	margin: auto;
	margin-top: 45px;
	/*padding: 20px;*/
	background: #91FFAC;
}

h1, h2{
	font-family: Impact, sans-serif;
	margin: 50px;
	text-align: center;

}

main{
	padding: 20px
}

footer{
	font-size: 0.8em;
}

h1,h2,footer{
	background: #6BA379;
	padding: 10px
	
}

p.poe{
	color:purple
	text-shadow: 1px 1px 5px black;
}