/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:50px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;

}

body {
	font-family:Optima, Candara, sana-serif;
	background: #5e2b44;
	color: #21eda2;
	margin: 30px;
}

div#container {
	border:#5e2b44;
	background: #5e2b44;
	width: 750px;
	max-width: 800px;
	margin: auto;
	color: black;
	padding: 15px;
}

h1{
	background:#4f1732;
	color:black;
	font-size: 2em;
	padding: 0.5em;
	padding-left: 150px;
	
}

h2 {
	
	background:#4f1732;
	color: black;
	padding-left: 100px;
	
}

main{
background:#4f1732;
	color:black;
	font-size: 2em;
	padding: 0.5em;


}

p1{
font-size: 1.5em;
padding-left: 70px;

}

main nav a{
	color:black;
	
}

a:hover{
	color:red;
}

nav ul{
	list-style:none;
	padding-left: 250px;

}

figure {
	margin:0px;
}

figure img{
	width:80%;
	padding-left:50px;
}

/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	body {
		background:#5e2b44;
	}

#container {
	border:solid black;
	background:#5e2b44;
}

} /* closes 1024px+ */

