/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	background: #7702D7;
	
}


div#container {
	width: 1000px;
	height: 800px;
	border: 1px solid black;
	margin: auto;
	position: relative;
}

div#missy {
	background: #CC6CE7;
	width: 150px;
	height: 300px;
	position: absolute;
	bottom: -150px;
	right: -100px;
	transition: all 2s;
}

div#missy:hover {
	background:#4E2B57;
	border-radius: 50%;
	opacity: 0.3;
	transform: scale(2.6) rotate(180deg);
	
}

div#text{
	background:#3D014F;
	width: 500px;
	height: 200px;
	position: absolute;
	bottom: 600px;
	transition: all 1.5s;
}

div#text:hover{
	transform: scale(3.5) rotate(180deg);
}

div#circle {
  width: 100px;
  height: 100px;
  background: #6302BF;
  position: absolute;
	bottom: 300px;
	right: -300px;
  border-radius: 50%;
  transition: all 1.5s;
}

div#circle:hover{
	background:#4E2B57;
	border-radius: 50%;
	width: 100px;
	height: 300px;
	bottom: -50px;
	opacity: 0.3;
		transform:scale(3.5) rotate(120deg);
	}

div#triangle-up {
      width: 0;
      height: 0;
      border-left: 150px solid transparent;
      border-right: 150px solid transparent;
      border-bottom: 200px solid #B01ADB;
	  position: absolute;
	bottom: 350px;
	right: 350px;
	  transition: all 1.5s;
    }
	
	div#triangle-up:hover{
	opacity: 0.3;
	transform: scale(1.5) rotate(360deg);
}

	div#triangle-down {
      width: 0;
      height: 0;
      border-left: 150px solid transparent;
      border-right: 150px solid transparent;
      border-top: 200px solid #B01ADB;
	  position: absolute;
	bottom: 150px;
	right: 350px;
	 transition: all 1.5s;
	
    }
	
	div#triangle-down:hover{
	opacity: 0.3;
	transform: scale(1.5) rotate(360deg);
	
	}
	
	div #triangle-right {
      width: 0;
      height: 0;
      border-top: 80px solid transparent;
      border-left: 130px solid indigo;
      border-bottom: 80px solid transparent;
	  position: absolute;
	bottom: 270px;
	right: 650px;
	 transition: all 1s;
    }
	
	div#triangle-right:hover{
	opacity: 0.3;
	transform: scale(2) rotate(60deg);
	}
	
	div #triangle-left {
		width: 0;
	height: 0;
	border-top: 80px solid transparent;
	border-right: 130px solid indigo;
	border-bottom: 80px solid transparent;
	 position: absolute;
	bottom: 270px;
	right: 220px;
	 transition: all 1s;
	}

div#triangle-left:hover{
	opacity: 0.3;
	transform: scale(2) rotate(60deg);
	
	}

div#trapezoid {
	border-bottom: 100px solid #720190;
	border-left: 75px solid transparent;
	border-right: 75px solid transparent;
	height: 0;
	width: 125px;
	position: absolute;
	bottom: 30px;
	right: 1150px;
	 transition: all 3.5s;
}

div#trapezoid:hover{
	right: 360px;
	opacity: 0.5;
}

div#parallelogram{
	width: 100px;
	height: 50px;
	position: absolute;
	transform: skew(60deg);
	background: #A503CE;
	bottom: 500px;
	right: 1150px;
	transition: all 6s;
}

div#parallelogram:hover{
	background:#4E2B57;
bottom: 55px;
	opacity: 0.5;
	transform: scale(2) rotate(360deg);
}
div#star-five {
      margin: 50px 0;
      position: relative;
      display: block;
      color: #E17BFE;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid #E17BFE;
      border-left: 100px solid transparent;
	  bottom: 10px;
	  right: -904px;
      transform: rotate(35deg);
	  transition: all 0.5s;
    }
   div #star-five:before {
      border-bottom: 80px solid #E17BFE;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      position: absolute;
      height: 0;
      width: 0;
      top: -45px;
      left: -65px;
      display: block;
      content: '';
      transform: rotate(-35deg);
    }
   div #star-five:after {
      position: absolute;
      display: block;
      color: #E17BFE;
      top: 3px;
      left: -105px;
      width: 0px;
      height: 0px;
      border-right: 100px solid transparent;
      border-bottom: 70px solid #E17BFE;
      border-left: 100px solid transparent;
      transform: rotate(-70deg);
      content: '';
    }
	
	div#star-five:hover {
		transform: scale(3) rotate(600deg);
	bottom: -370px;
	right: -1000px
		
	}
	
	