/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	font-family:Optima, Candara, sana-serif;
	background: #7d21ed;
	color: #21eda2;
	margin: 30px;
	
}


#container {
	border: 1px #6c42f5;
	background: rgba(0,0,0,0.2);
	width: 750px;
	max-width: 800px;
	margin: auto;
	padding: 15px;
}

nav a{
	color:white;
	
}

figure a{
	color:pink;
}

main nav a{
	color:#dc21ed;
	
}

a:hover{
	color:red;
}

nav ul{
	list-style:none;
	padding-left: 0px;
}

figure {
	margin:0px;
}

figure img{
	width:100%
}